*{
  margin: auto;
}

body{
  text-align: center;

}
input{
  border: 1 solid red;
  border-radius: 2em;
}
.date1{
  font-weight: bold;
  background-color: #007eff;
}

.date2{
  background-color: red;
  font-weight: bold;
}

.sameDay{
  font-weight: bold;
  background-color: green;
}
.matchingDaysTemplate{
  margin-left: 20px;
}
@media only screen and (max-width: 600px) {
tr{

}

}
